a{
    color:inherit;
    color: red;
}
span{
    color: blue;
}
body{
    background-color: #fdfdbb;
}
#main{
    height: 80vh;    
}
#footer{
    text-align: center;
}
div{
    padding: 0;
    margin: 20px;
}